/* By Amrut Todkar 2021-08-03 */
.full-header .primary-menu .menu-container {
    border-right: 1px solid #fff;
}
/* By Amrut Todkar 2021-08-03  END */

	.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
  line-height:36px;
  text-align:center;
  font-size: 20px;
  padding-right: 20px;
  }
.img-fluid {
    width: 100%;
    height: auto;
}
.contentnew {
    /*background: orange;*/
    margin: 1rem;
    padding: 1rem;
    flex: 1;
    color: white;
    display: flex;
}

.contentnew > span {
    margin: auto;
}

.rownew {
    display: flex;
    flex-direction: row;
   /* background-color: blue;*/
    flex: 1
}

.colnew {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 30px;
   
}
/*ul#menu li
{
	padding-right: 40px;
	padding-left: 20px;

}*/
.countdown-circle {
	       border-radius: 50% !important;
    text-align: center;
    /* padding: 55px; */
    padding-top: 3px;
    margin-left: 56px;
    margin-left: auto;
    margin-right: auto;

}
.img-responsive.mobile {
  display: none;
   width:100%;
  height:auto;
}
.img-responsive
{
     width:100%;
  height:auto;
}
.card_height
  {
          height: 201px ;
  }
.text_spacing_sections
{
    padding-left:1rem;
     padding-right:1rem;
}


.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
 
    width: 94%;

}
@media only screen and (min-width: 300px) and (max-width: 600px)
{
    .img-fluid
    {
         width:100%;
         height:auto;
    }
    .text1_alignment
    {
            padding-left: 1rem;
            padding-right: 1rem;
    }
    .card_height
  {
          height: auto !important ;
  }
  .text_spacing_sections
    {
        padding-left:1rem;
         padding-right:1rem;
    }
    .div_display_mobile
    {
        display:block;
    }


}
@media only screen and (max-device-width: 480px) {
  .img-responsive {
    display: none;
  }
  .img-responsive.mobile {
    display: block;
  }
   .carousel-cell
  {
      height:200px !important;
  }
      .card_height
  {
          height: auto !important ;
  }
  .text_alignment
  {
      padding-left:1rem;
      padding-right:1rem;
  }
  .text_spacing_sections
    {
        padding-left:1rem;
         padding-right:1rem;
    }
    .div_display_mobile
    {
        display:block;
    }

  
}
.desk{
  width:100%;
  height:auto;
  /*background:red;*/
}
.div-only-mobile{
  width:100%;
  height:auto;
  /*background:orange;*/
  
 
  
}
@media only screen and (min-width: 1250px) and (max-width: 1351px)
{
 
   .card_height
  {
             height: 197px;
  }
  .text_spacing_sections
    {
        padding-left:1rem;
         padding-right:1rem;
    }
    .div_display_mobile
    {
        display:none;
    }

}
@media only screen and (min-width: 300px) and (max-width: 429px)
{
 
      .card_height
  {
          height: auto !important ;
  }
      .text_spacing_sections
    {
        padding-left:1rem;
         padding-right:1rem;
    }
}
@media (min-width: 992px){
.full-header #logo {
    
    border-right: 0px ;
}
}

@media only screen and (min-width: 991px) and (max-width: 1250px)
{
  .div-only-mobile{
  /*visibility:hidden;*/
  display: none;
  
  }
   .card_height
  {
             height: 256px;
  }
 .text_spacing_sections
    {
        padding-left:1rem;
         padding-right:1rem;
    }
  .menu_hide{
      display:none;
  }
  
  
}
@media only screen and (min-width: 768px) and (max-width: 991px)
{
 .desk{
  /*visibility:hidden;*/
   display: none;
  }
 .div-only-mobile {
  /*visibility:visible;*/
  display: block;
  }
  p{
      padding-left: 1rem;
    padding-right: 1rem;
  }
  .agenda_section{
      padding-left: 0rem;
    padding-right: 0rem;
  }
  .img-fluid{
     width: 100%; 
      height: auto;
  }
   .card_height
  {
          height: 404px ;
  }
  .text_spacing_sections
    {
        padding-left:1rem;
         padding-right:1rem;
    }
  
}
.content-wrap {
 padding: 0px 0;
    }

.buttonnew {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.scrollbar_table {
 overflow-y: scroll;
 overflow: hidden;
}
.table_align
{
    width:100%;
  height:200px;
}
.bg-color, .bg-color #header-wrap {
    /*background-color: #1693a5 !important;*/
     background-color: #222 !important;
}
.card
{
    border: 22px solid rgb(22 147 165);
}
.icon-button {
    background-color: white;
    height: 3.6rem;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 27px;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	/*background-color: #4099ff;*/
}
.facebook span {
	/*background-color: #3B5998;*/
}
.portfolio-desc {
    padding: 10px 5px;
  
}
.social-icon 
{
        font-size: 1rem;
        width: 30px;
    height: 30px;
}

#main {
  width: 300px;
  height: 50px;
  
  display: flex;
}

#main div {
  -ms-flex: 1;  /* IE 10 */  
  flex: 1;
}


.icon-bar {
  position: fixed;
  top: 70%;
  right:0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index:3;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 11px;
  transition: all 0.3s ease;
  color: white;
  /*font-size: 20px;*/
      width: 38px !important;
       z-index: 99;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
.instagram
{
    background: red;
  color: white;
    
}
.content {
  margin-left: 75px;
  font-size: 30px;
}
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  /*background: #EEE;*/
}

.carousel-cell {
  width: 66%;
  height: 399px;
  margin-right: 10px;
  /*background: #8C8;*/
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  /*color: white;*/
}
.fluid-width-video-wrapper {
    width: 100%;
    position: initial !important;
    padding: 0;
}
 
   
  #chartdiv {
            width: 75vw;
            height: 80vh;
            margin: 0 auto;
        }
.card {
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 0.25rem;
}

/*footer style by pooja */
#copyrights {
    border-radius: 30px 30px 0 0 !important;
}

#footer {
    position: relative;
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
    /*background-color: #fff !important;*/
    /*border-top: 5px solid rgb(255 255 255) !important;*/
}



/*css by pooja for agenda section*/
@media only screen and (max-width: 767px) and (min-width: 280px){
.title-hide1{
    display:none;
}
}

@media only screen and (max-width: 30000px) and (min-width: 768px){
.title-hide2{
    display:none;
}
}  
@media only screen and (max-width: 30000px) and (min-width: 768px){
    .card-height{
        height:9rem;
    }
}

/*speakers section*/
.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 50% !important;
    max-width: 100%;
    height: auto;
}
.new-width {
    width: 60% !important;
}

/*countdown section*/
.count-h2{
        font-size: 36px;
        margin: 0px 0 13px 0;
        color: #ffffff;
    }
@media only screen and (max-width: 767px) and (min-width: 280px){
    .count-h2{
        font-size: 16px;
        margin: 0px 0 13px 0;
        color: #ffffff;
    }
    
@media only screen and (max-width: 767px) and (min-width: 280px){  
  .btn-space{
       padding: 8px 3px; 
    }
}
  
.linktree{
  background: #28BF7B;
  color: white;
}
.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 24% !important;
}

.white-color{
    color:#ffffff !important;
}

.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    width: 8px;
    height: 8px;
    margin: 30px 4px 0 4px;
    opacity: 0.5;
    border-radius: 50%;
    background-color: #796fea !important;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.menu-link {
    display: block;
    line-height: 22px;
    padding: 14px 5px;
    color: #444;
    font-weight: 700;
    font-size: 0.9125rem !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    width: 8px;
    height: 8px;
    margin: 30px 4px 0 4px;
    opacity: 0.5;
    border-radius: 50%;
    background-color: #502a75 !important;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#gotoTop:hover {
    background-color: #502a75 !important;
}

/*code by pooja for partners arrow section */

.owl-carousel .owl-nav [class*=owl-]:hover {
    background-color: #502a75 !important;
    color: #FFF !important;
    text-decoration: none;
}

/*css by pooja for remove hover effect from sponsors section*/

.hover-effect a{
    opacity: 1 !important;
}

}

/* partner section styles by pooja */
 @media only screen and (max-width: 767px) and (min-width: 280px){
.owl-carousel:hover .owl-nav [class*=owl-] {
     opacity: 1;
    left: 8px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 280px){
    .owl-carousel:hover .owl-nav .owl-next {
        left: auto;
        right: 8px;
    }
     }
     
      @media only screen and (max-width: 767px) and (min-width: 280px){
     .owl-carousel.with-carousel-dots .owl-nav [class*=owl-] {
            margin-top: 8px;
        }
      }
    
    @media only screen and (max-width: 767px) and (min-width: 280px){
    .owl-carousel.with-carousel-dots .owl-nav [class*=owl-] {
        margin-top: 8px ;
    }
    }			    
			     
.partners_slider .owl-stage {
    margin :auto !important;
}


/* frequently asked questions section styles by pooja */
 /* primary btn style                                            */
.btn1 {
    background-color: transparent !important;
    color: #ffffff !important;
    padding: 14px 28px !important;
    cursor: pointer;
    font-weight: 780 !important;
}

/* secondary btn style */
.btn {
  background-color: transparent !important;
  color: #ffffff !important;
  padding: 5px 10px !important;
  cursor: pointer;
  font-weight: 780 !important;
}
.btn  {
  background-color: transparent !important;
  color: #ffffff !important;
  padding: 5px 10px !important;
  cursor: pointer;
  font-weight: 780 !important;
}
.purple {
    border-color: #502a75 !important;
    color: #502a75 !important;
    border-radius: 5px !important;
    border: 2px solid !important;
}
.purple:hover {
    background-color: #502a75 !important;
    color: #ffffff !important;
    border: 2px solid #502a75 !important;
}


/* css by pooja for job cards icons */
.text-info {
  color: #502a75 !important;
}

.badge-info {
  color: #fff;
  background-color: #502a75 !important;
}

.text-success {
  color: #28a745!important;
}
.text-primary {
  color: #502a75!important;
}

/* css by pooja for jobs cards fonts style */
/* primary text  */
.job-card-primary-text{
  font-size: 1.25rem !important;
  font-weight: 500 !important;
  color: #212529 !important;
  font-family: 'Poppins', sans-serif !important;
}

.job-card-secondary-text{
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: #333!important;
  font-family: 'Poppins', sans-serif !important;
}

/* css by pooja for contact us bar email color  */
a {
  text-decoration: none !important;
  color: #502a75;
}