.logout_bottom{
    /*position: absolute;*/
    /*bottom: 3%;*/
    padding: 0px 0px 0px 22px;
    color: white;
    margin-top: -45px;
}
.logout_bottom:hover{
    text-decoration:none;
    color:white;
}

.social_media_links .social-links {
  padding-left: 21px;
  list-style-type: none;
  /*margin-top: 13px;*/
  margin-bottom: 22px;
}

.social_media_links .social-links li {
  margin-right: 2px;
  display: inline-block;
}

.social_media_links .social-links li a {
  width: 30px;
  text-align: center;
  line-height: 29px;
  height: 30px;
  border: 1px solid #ece9e9;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 14px;
}

.social_media_links .social-links li a:hover {
  /*color: #ffffff;*/
  /*border-color: #3a60d0;*/
  /*background-color: #3a60d0;*/
  
  color: #3a60d0;
  border-color: #ffffff;
  background-color: #ffffff;
}
.collapse-header{
        margin: 0;
    white-space: nowrap;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: .65rem;
    /*color: #b7b9cc;*/
    color:#d1d3e2;
} 

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    white-space: inherit;
}
.sidebar .nav-item .nav-link span {
    font-size: 13px !important;
    display: inline;
}

.sidebar {
  /*height: 100%;*/
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}


.mobile-hide{
	display: block;
}

.mobile-show{
	display: none;
}

.content_dashboard{
        margin-left: 14rem;
    }
    
.sidebar-dark .nav-item .nav-link{
    color:white;
}
.sidebar-dark .nav-item .nav-link i{
    color:white;
}
.sidebar_to_text{
    font-size:0.7rem!important;
}
.topbar {
        height: 0rem;
    }
    .navbar {
     padding: 0rem; 
}

/*.sidebar.toggled {*/
/*     overflow: visible; */
/*     width: 197px!important; */
/*}*/

/*@media (min-width: 800px) {*/
@media (max-width: 768px) {
	.mobile-hide{
		display: none;
	}

	.mobile-show{
		display: block;
	}
	
	.sidebar {
      min-height: 100vh;
      width:228px;
      position: fixed;
      z-index:99;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      padding-top: 0px;
    }
    
   
    
    .content_dashboard{
        margin-left: 0rem;
    }
    .logout_bottom{
        /*position: absolute;*/
        /*bottom: 3%;*/
        padding: 0px 0px 0px 18px;
        color: white;
        margin-top: 0px;
    }
    
    .sidebar_to_text{
        font-size:0.6rem!important;
    }
    .sidebar .sidebar-brand .sidebar-brand-text{
        display :block;
    }
    .topbar {
        height: 3rem;
    }
    .sidebar .nav-item .nav-link  {
        width:9rem;
    }
 

}



/* GENERAL STYLES END */